$orange: #F8742C;
$white: #ffffff;
$black: #000000;
$red: #E74C3C;
$green: #7ACEB4;
$transparent: transparent;

$color: #D94232;

$primary-text-color: #171F37;
$main-navbar-bg: $primary-text-color;
$sub-navbar-bg: #7aceb4;
$subnav-link-active: #2f8067;

$authentication-input-border: #f7f7f7;

$accordian-panel-bg: #EBEBEB;
$accordian-table-header-active-bg: #FFFDDE;

$progressbar-bg-color: #d8d8d8;
$progressbar-progress-color: #7aceb4;

$table-header-bg: #e2eaf3;
$table-border-color: #dee2e6;

$footer-bg-color: #d2d2d2;
$footer-text-color: #777;

$active-link: $primary-text-color;

$form-control-border: #ccc;

$dropdown-link-hover: #f5f5f5;

$tooltip-bg-color: $accordian-panel-bg;

$all-states: '&, &:active, &:hover, &:focus';

$label-color: $primary-text-color;

$font-family-rubik: 'Rubik', sans-serif;

$button-font-size: 1rem;
